*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.turn
{
    position: absolute;
    font-size: 4vh;
    top: 4vh;
    left: 4vh;
}

.coord
{
    position: absolute;
    font-size: 4vh;
    top: 4vh;
    left: 20vh;
}

.grid
{
    display: grid;

    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);

    border: 1px solid black;

    gap: 0.3vh;

    width: 65vh;
    height: 65vh;
}

.robotS
{
    grid-column: 7;
    grid-row: 7; 
    width: 4.72vh;
}

